
.chart-series-line {    
    -fx-stroke-width: 1px;
    -fx-effect: null;
    -fx-background-color: #ffffff;
}

.default-color0.chart-series-line { -fx-stroke: #e9967a; }
.default-color1.chart-series-line { -fx-stroke: #ff9900; }
.default-color2.chart-series-line { -fx-stroke: #dda0dd; }
 
.default-color0.chart-line-symbol { -fx-background-color: #e9967a, white; }
.default-color1.chart-line-symbol { -fx-background-color: #ff9900, white; }
.default-color2.chart-line-symbol { -fx-background-color: #dda0dd, white; }

.chart-legend {
   -fx-background-color:  transparent;
   -fx-translate-y: -321;
   -fx-translate-x: 300;
}

.chart-plot-background {
    -fx-background-color: transparent;
}